body {
    /* background: rgb(180,42,42);
    background: linear-gradient(32deg, rgba(180,42,42,1) 0%, rgba(212,0,0,1) 24%, rgba(255,115,0,1) 50%, rgba(255,97,0,1) 72%, rgba(245,225,39,1) 100%); */
    background: rgb(255,135,135);
    background: linear-gradient(32deg, rgba(255,135,135,1) 0%, rgba(255,170,170,1) 24%, rgba(255,232,213,1) 50%, rgba(230,230,255,1) 72%, rgba(252,229,255,1) 100%);

}

.navbar {
    /* background-color: rgb(255, 255, 255); */
    align-items: center;
}

#navrow {
    width:100%;
    align-items: center;
}

.btn-circle {
    width:80px;
    height:80px;
    border-radius: 50px;
    border:5px solid #000000;
    text-align: center;
    font-size: 45px;
    padding: 1px 10px 15px 10px;
    background-color: rgb(0, 0, 0);
}

.btn-circle.text {
    font-size: 22px;
    padding: 19px 0px 5px 0px;
    font-family: 'Gill Sans MT Condensed','Medula One', cursive;
    letter-spacing: .75px;
}

.bg-black {
    background-color: #000000;
}

a {
    color: #ffffff;
    background-color: #000000;
}

a:hover {
    color: #000000;
    background-color: #ffffff;
}

/* 
a:hover {
    color: #000000;
    background:inherit;
    border-color: transparent;
} */

.shadow {
    -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
    box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}

/* IMAGE CIRCLE */
.img-circle {
    border-radius: 50%;
    border:10px solid #000000;
  }
  .img-circle {
    border-radius: 0;
  }
  
  .ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }
  .img-circle {
    border-radius: 50%;
  }
  .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    transition: linear all .15s;
    -webkit-transition-delay: .15s;
    /* Safari */
    transition-delay: .15s;
  }
  /* END IMAGE CIRCLE */

  h1{
    font-family: 'Gill Sans MT Condensed', cursive;
    letter-spacing: .75px;
  }

  .topBuffer {
      padding:10px 0px;

  }
  
  #bioText {
      line-height: 38px;
      color: #000000;
      font-size: 22px;
      letter-spacing: 1px;
  }

  .droplink{
    background-color: transparent;
  }

/* .droplink:hover {
      background-color: #ffffff;
  } */

  .text-wht {
      color:#ffffff;
  }

  .shadowDark {
    -webkit-box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.43);
    box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.43);
  }

  .port{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 66%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%, rgba(68,11,11,0) 100%);
  }

  .port2{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 33%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 66%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%, rgba(68,11,11,0) 100%);
  }

  .portText{
      background-color: #000000;
      width: fit-content;
      padding: 6px 5px 0px;
  }

  #hello {
      font-size: 80px;
      padding-top:25px;
      padding-bottom:15px;
  }

  .becca {
    font-size: 50px;
    padding-bottom:20px;
  }

  .sideSpace {
      padding: 10px;
  }
  .topBottomSpace {
      padding: 10px 0px;
  }
  /* Anything Smaller than Large  */
@media (max-width: 770px) {
    .navbar-expand-lg {
        background: transparent; /* transparent pink */
    }
    .card-deck {
        column-count: 2;

  }
}

  /* Anything Smaller than Large  */
  @media (max-width: 575px) {
    #bioText {
        font-size: 18px; /* transparent pink */
        line-height: 24px;
    }
    .becca {
        font-size: 35px;
    }
    #hello {
        font-size: 35px;
    }
    .card-deck {
        column-count: 1;

  }
}

.buttonHolder {
display: flex;
justify-content: space-around;
padding-bottom:15px;
}

.btn {
    background: rgb(255,170,170);
    background: linear-gradient(32deg, rgba(255,170,170,1) 0%, rgba(255,232,213,1) 100%);
    color: #000000;
    font-family: 'Gill Sans MT Condensed', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}
.btn:hover {
    color: #000000;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 71%);
}

.btn:active {
    color: #000000;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 71%);
}


.badge {
    background-color: #4c4c4c;
    color:#bbbbbb;
    padding:5px;
    margin:5px;
}

.badgeHolder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin-top:25px;
    min-width:300px;
}

.contact{
    margin-top:25px;
}